{% extends './blog.html' %}

{% block body %}

<div class="blog-post">
    <h2 class="blog-post-title">
        <a href="%{{url}}%">
            %{{title}}%
        </a>
    </h2>
    <p class="blog-post-meta">
        %{{displayDate}}%
    </p>

    {% block content %}{% endblock %}

    <div class="row">
        <span class="lead">Tagged</span>
        {% for category in categories %}
        <span class="tag">
            <a href="%{{site.relpath('/blog/tag')}}%/%{{category}}%.html">
                %{{category}}%
            </a>
        </span>
        {% endfor %}
    </div>

</div><!-- /.blog-post -->

{% endblock %}